.uc-tabbar-bar-wrap{vertical-align: top;position: absolute;top:0;left: 0;z-index: 2;width: 100%;padding-left: 6px;}
.uc-tabbar-bar{background: #ccc;padding: 2px 20px 2px 10px;position: relative;margin:1px 1px 0 1px;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border: 1px solid #b5b5b5;
    border-bottom: 0;
    background-image: none;
    background-color: #eaeaea;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dcdcdc), color-stop(100%, #eaeaea));
    background-image: -webkit-linear-gradient(top, #dcdcdc, #eaeaea);
    background-image: -moz-linear-gradient(top, #dcdcdc, #eaeaea);
    background-image: -o-linear-gradient(top, #dcdcdc, #eaeaea);
    background-image: linear-gradient(top, #dcdcdc, #eaeaea);
    -webkit-box-shadow: white 0 1px 0px 0 inset, white -1px 0 0px 0 inset, white 1px 0 0px 0 inset;
    -moz-box-shadow: white 0 1px 0px 0 inset, white -1px 0 0px 0 inset, white 1px 0 0px 0 inset;
    box-shadow: white 0 1px 0px 0 inset, white -1px 0 0px 0 inset, white 1px 0 0px 0 inset;
    cursor: pointer;
}
.uc-tabbar-bar.focus{ }
.uc-tabbar-bar.focus,.uc-tabbar-bar:hover{background: #fff;
    border-bottom: 1px solid #eaeaea;
    background-image: none;
    background-color: #eaeaea;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #eaeaea));
    background-image: -webkit-linear-gradient(top, #ffffff, #eaeaea);
    background-image: -moz-linear-gradient(top, #ffffff, #eaeaea);
    background-image: -o-linear-gradient(top, #ffffff, #eaeaea);
    background-image: linear-gradient(top, #ffffff, #eaeaea);
}


.uc-tabbar-close-btn{width:10px;height:10px;;overflow: hidden;position: absolute;top:7px;right: 5px;font-size:11px;color:#4d4d4d}
a.uc-tabbar-close-btn:hover{color:#f60}

.uc-tabbar-iframe{width: 100%;}