<div ng-controller="IndexController as ctrl">
    <div class="form  ks-form container-fluid" >

        <!-- 第一行-->
        <div class="row">

            <!--名称-->
            <div class="form-group-sm  normal">
                <label class="control-label">产品名称：</label>
                <input type="text" class=" form-control " ng-model="ctrl.queryCondition.productName" placeholder="名称"/>
            </div>


            <!-- 创建日期 -->
            <div class="form-group-sm  normal" style="width: 450px;display: inline-block">
                <label class="control-label" style="float: left">{{ctrl.type == '1'?'入库':'出库'}}日期：</label>
                <div style="float: left;width: 160px">
                    <ks-date-picker ng-model="ctrl.queryCondition.createdAtBegin"></ks-date-picker>
                </div>
                <div style="float: left;margin-top: 7px;padding-left: 5px">至</div>
                <div style="float: left;width: 160px">
                    <ks-date-picker ng-model="ctrl.queryCondition.createdAtEnd"></ks-date-picker>
                </div>

            </div>

            <!--按钮-->
            <div class=" form-group-sm ks-form-group normal">
                <button type="button" class="btn btn-primary btn-sm"
                        ng-click="ctrl.selectEntities(true)"><span class="fa fa-search"></span>查询
                </button>
                <button type="button" class="btn btn-primary btn-sm"
                        ng-click="ctrl.resetForm()"><span class="fa fa-refresh"></span>重置
                </button>
            </div>
        </div>
    </div>


    <div class="container-fluid ks-grid-toolbar">
        <div class="row">
            <div class="col-xs-10">
            </div>
            <div class="col-xs-2 text-right" style="margin-top: 5px;" ng-if="ctrl.type == 1">
                <a href="javascript:void(0)" class="btn btn-default btn-sm"
                   ng-click="ctrl.go('root.edit',{op:1})"
                   ng-if="ctrl.role.hasEditRole">
                    <span class="fa fa-plus"></span>新增入库</a>
            </div>
            <div class="col-xs-2 text-right" style="margin-top: 5px;" ng-if="ctrl.type == 2">
                <a href="javascript:void(0)" class="btn btn-default btn-sm"
                   ng-click="ctrl.go('root.edit',{op:2})">
                    <span class="fa fa-plus"></span>新增出库</a>
            </div>
        </div>
    </div>



    <!-- 表格-->
    <table class="table table-striped ks-grid">

        <!--表头-->
        <thead class="ks-header">
        <th class="ks-cell">产品名称</th>
        <th class="ks-cell">数量</th>
        <th class="ks-cell">用途</th>
        <th class="ks-cell">{{ctrl.type == '1'?'入库':'出库'}}日期</th>
        <th class="ks-cell">{{ctrl.type == '1'?'入库':'出库'}}操作人</th>
        <th class="ks-cell">操作</th>
        </thead>
        <tbody>
        <tr ng-repeat="row  in ctrl.entities" class="ks-row">
            <td class="ks-cell"><span>{{::row.productName || ''}}</span></td>
            <td class="ks-cell ellipsis" >{{row.num }}</td>
            <td class="ks-cell ellipsis" ng-if="ctrl.type == '1'">--</td>
            <td class="ks-cell ellipsis" ng-switch="row.usage" ng-if="ctrl.type == '2'">
                <span ng-switch-when="1">出售</span>
                <span ng-switch-when="2">院用</span>
                <span ng-switch-when="3">赠送</span>
            </td>

            <td class="ks-cell"><span>{{row.createdAt | date:'yyyy-MM-dd HH:mm:ss'}}</span></td>
            <td class="ks-cell ellipsis" >{{row.createdByName }}</td>

            <!-- 编辑单元格-->
            <td class="ks-cell">
                <!--<a href="javascript:void(0)" ng-click="ctrl.edit(row)" class=" btn btn-default btn-sm"-->
                   <!--ng-if="ctrl.role.hasEditRole">-->
                    <!--<span class="fa fa-edit"></span>编辑</a>-->
                <a href="javascript:void(0)" class="btn btn-danger btn-sm" ng-click="ctrl.deleteEntity(row)"
                   ng-if="ctrl.role.hasDeleteRole">
                    <span class="fa fa-minus"></span>删除</a>
                <!--<a href="javascript:void(0)" class="btn btn-default btn-sm" ng-click="ctrl.order(row)"-->
                   <!--ng-if="ctrl.role.hasOrderRole">-->
                    <!--<span class="fa fa-edit"></span>下单</a>-->
            </td>
        </tr>
        </tbody>
    </table>

    <!--分页条-->
    <ks-paging on-select-page="ctrl.selectEntities(false)" paging="ctrl.queryCondition" limit="10"></ks-paging>
</div>