.footer{font-size:12px;height:100px;width:100%;margin-top:20px;text-align: center;padding-top:30px;border-top:1px solid #f0f0f0}

.footer-nav{margin-bottom: 10px;}
.footer-nav a{color:#000;text-decoration: none}
.footer-nav a:hover{color:#f60;}
