.breadcrumb{color: #000;width:1024px;margin:0 auto;text-indent: 10px;font-size:9px;height:30px;line-height: 30px;font-size:10px;background: #f0f0f0;border-top:1px solid #fff}
.sys-nav {
    position: relative;
    padding: 0;
    margin: 0;
    height:30px;
    margin-bottom: 5px;
    background-image: none;
    background-color: #d2d2d2;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dfdede), color-stop(100%, #d2d2d2));
    background-image: -webkit-linear-gradient(top, #dfdede, #d2d2d2);
    background-image: -moz-linear-gradient(top, #dfdede, #d2d2d2);
    background-image: -o-linear-gradient(top, #dfdede, #d2d2d2);
    background-image: linear-gradient(top, #dfdede, #d2d2d2);
    border-top:1px solid #d0d0d0;
}
.sys-nav-splite{height: 4px;background: #eaeaea;border:1px solid #d0d0d0;position: absolute;z-index: 1;bottom: 0;left: 0;width: 100%}

.sys-nav ul {
    list-style: none;
    width: 100%;
    display: block;
    padding: 0;
    margin: 0px 0 0;
    text-indent: 20px;
    border: 0px solid red;
}

.sys-nav ul li {
    float:left;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    margin: 0 ;
    padding: 0;
    text-indent: 0
}



.sys-nav ul li a {
    color: #ccc;
    font-size: 12px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    text-align: center;
    text-indent: 0;
    text-decoration: none;
    padding:0 25px;
}
.sys-nav ul li.first{
    margin-left: 0;
    padding-left:0 ;
    float: left;
    text-align: left;
    /*margin-left:20px;*/
}
.sys-nav ul li a.first{
    width: 200px;
    /*border-right: 1px solid #3686cd;*/

    padding:0;
}

.sys-nav ul li.selected a{
    background: #5c6f87;
    color:#fff
    /*border-bottom:2px solid #f60;*/
}
.sys-nav ul li a:hover {
    /*background: #265e92;*/
    background: #5c6f87;
    color:#fff
    /*border-bottom:2px solid #f60;*/
}
.sys-nav ul li a.last {
    border-right: 0 !important;
}