<div ng-controller="EditOrgsController as ctrl">
    <div class="modal-header" style="">
        <h3 class="modal-title ">{{ctrl.isAdd ? '新增部门' : '编辑部门'}}</h3>
    </div>

    <form role="form" class="container-fluid modal-body" name="editForm" novalidate>

        <div class="form-group" style="float: left;width: 260px">
            <label for="orgName">部门名称</label>
            <input type="text" class="form-control" style="width: 150px;position:relative;display: inline-block;margin-left:10px"
                   maxlength="10" id="orgName" placeholder="输入部门名称" ng-model="ctrl.currentOrganization.name">
        </div>

        <div class="form-group" style="float: left;width: 260px" ng-show="{{ctrl.currentOrganization.parentId != null || ctrl.isAdd}}">
            <label>父级组织</label>
            <ks-org-picker ng-model="ctrl.currentOrganization.parentId" ></ks-org-picker>
        </div>


        <div class="form-group">
            <label>部门状态</label>
            <div style="position:relative;display: inline-block;margin-left:10px">
                <div class="btn-group">
                    <label class="btn btn-default btn-sm" ng-model="ctrl.currentOrganization.disable" btn-radio="false">启用</label>
                    <label class="btn btn-default btn-sm" ng-model="ctrl.currentOrganization.disable" btn-radio="true">禁用</label>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" ng-disabled="editForm.$invalid" ng-click="ctrl.onSave()" >保存</button>
            <a href="javascript:void(0)" type="button" ng-click="ctrl.dismiss()" class="btn btn-warning" >取消</a>
        </div>
    </form>
</div>
