<!-- 弹出窗口-->
<!--<ks-dialog ng-model="dialog.visible" dialog="dialog" >-->
<div ng-controller="DeliverController as ec">
    <div class="modal-header" style="">

        <div class="row">
            <h3 class="modal-title col-xs-2">{{ec.dialogTitle}}</h3>
        </div>

    </div>

    <form role="form" class="form  ks-form ks-edit-form container-fluid modal-body" name="editForm" novalidate>

        <!--第一行-->
        <div class="row">

            <!--名称-->
            <div class="form-group  normal">
                <label class=" control-label">产品名称:</label>

                <div style="display: inline-block">
                    <input type="text" ng-model="ec.entity.productName" placeholder="产品名称"
                           class=" form-control input-sm" name="name" required ng-readonly="true">

                </div>
            </div>

            <div class="form-group  normal">
                <label class=" control-label">下单数量:</label>

                <div style="display: inline-block">
                    <input type="text" ng-model="ec.entity.num" placeholder="下单数量"
                           class=" form-control input-sm" ng-readonly="true">

                </div>
            </div>

            <div class="form-group  normal">
                <label class=" control-label">仓库:</label>

                <div style="display: inline-block">
                    <input type="text" ng-model="ec.entity.warehouseName" placeholder="仓库"
                           class=" form-control input-sm" ng-readonly="true">

                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group  normal" style="width: 250px;">
                <label class=" control-label" style="width: 80px;">实际发货数量:</label>

                <div style="display: inline-block">
                    <input type="text" ng-model="ec.entity.actualDeliverNum" placeholder="实际发货数量"
                           class=" form-control input-sm"
                           ng-pattern="/^\d+$/" required>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group  normal" style="width: 500px;">
                <label class=" control-label" style="vertical-align:top">备注:</label>
                <textarea class=" form-control input-sm" ng-model="ec.entity.deliverRemark"
                          style="width: 400px;height: 70px"></textarea>
            </div>
        </div>

        <!--操作按钮-->
        <div class="  modal-footer">
            <button type="submit" class="btn btn-primary " ng-disabled="editForm.$invalid"
                    ng-click="ec.save()">发货
            </button>
            <a href="javascript:void(0)" type="button" ng-click="ec.dismiss()" class="btn btn-warning">取消</a>
        </div>
    </form>


</div>