.ks-n-form{}
.ks-n-field{width:200px;float: left}
.ks-n-control-wrap{float:left;width:140px;}
.ks-n-label{width:55px;text-align: right;float: left;margin-right:5px;height:30px;line-height: 30px;}

.ks-n-field .ks-ac{margin-left:0;}